
{% load static %}

<!------- FRIEND REQUEST ------->
<div class="friend-requests">
  <h4>Requests</h4>
  <!--request #-->
  <div class="request" data-request-id="{{ request.id }}">
    <div class="info">
      <div class="profile-photo">
        <img src="{%static 'assets/images/profile-20.jpg'%}" />
      </div>
      <div>
        <h5>Hajia Bintu</h5>
        <p class="text-muted">8 mutual friends</p>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary">Accept</button>
      <button class="btn">Decline</button>
    </div>
  </div>
  <!--request #-->
  <div class="request">
    <div class="info">
      <div class="profile-photo">
        <img src="{%static 'assets/images/profile-5.jpg'%}" />
      </div>
      <div>
        <h5>Hajia Bintu</h5>
        <p class="text-muted">8 mutual friends</p>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary">Accept</button>
      <button class="btn">Decline</button>
    </div>
  </div>
  <!--request #-->
  <div class="request">
    <div class="info">
      <div class="profile-photo">
        <img src="{%static 'assets/images/profile-2.jpg'%}" />
      </div>
      <div>
        <h5>Hajia Bintu</h5>
        <p class="text-muted">8 mutual friends</p>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary">Accept</button>
      <button class="btn">Decline</button>
    </div>
  </div>
  <!--request #-->
  <div class="request" data-request-id="{{ request.id }}">
    <div class="info">
      <div class="profile-photo">
        <img src="{%static 'assets/images/profile-15.jpg'%}" />
      </div>
      <div>
        <h5>Hajia Bintu</h5>
        <p class="text-muted">8 mutual friends</p>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary">Accept</button>
      <button class="btn">Decline</button>
    </div>
  </div>
  <!--request #-->
  <div class="request">
    <div class="info">
      <div class="profile-photo">
        <img src="{%static 'assets/images/profile-17.jpg'%}" />
      </div>
      <div>
        <h5>Hajia Bintu</h5>
        <p class="text-muted">8 mutual friends</p>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary">Accept</button>
      <button class="btn">Decline</button>
    </div>
  </div>
</div>
